<a class="gallery-item" href="{{href}}" target="_blank">
    <div class="item-thumbnail" style="background-image: url({{bg}})"></div>
    <div class="item-info">
        <div class="item-title">
            {{title}}
            {{#if external}}
                <span class="material-symbols-outlined">&#xe89e;</span>
            {{/if}}
        </div>
        <div class="item-desc">{{{desc}}}</div>
    </div>
</a>