<div class="st-outer">
    <div class="st-bar-start"></div>
    <a id="{{id-from-title label}}" class="st-label" href="#{{id-from-title label}}">{{label}}</a>
    <div class="st-bar-end"></div>
</div>