@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/assets/fonts/Metropolis-Thin.woff2) format('woff2');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Metropolis-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Metropolis-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/Metropolis-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/assets/fonts/MaterialSymbolsOutlined24pt-ExtraLight.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: 'Metropolis', Helvetica, Arial, sans-serif;
}

.root-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1000px;
    margin: 0 12px;
}

.fit-screen {
    height: calc(100vh - 42px - 8px);
    height: calc(100dvh - 42px - 8px);
}

.navbar-root {
    background-color: transparent;
    position: sticky;
    top: 0;
    transition: 0.25s;
    margin-bottom: 8px;
    z-index: 1000;
}

.navbar-root.opaque {
    background-color: rgba(48,48,48, 0.5);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
}

.navbar {
    display: flex;
    height: 42px;
    align-items: center;
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    color: #eee;
    text-decoration: none;
    user-select: none;
    position: relative;
    transition: 0.5s;
}

.navbar-brand img {
    height: 20px;
}

.navbar-brand:hover {
    filter: drop-shadow(0 0 4px #00ffff);
}

.navbar-content {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #bbb;
    padding: 0 16px;
    border-bottom: 3px solid #666;
    transition: 0.25s;
    font-size: 14px;
}

.navbar-link .material-symbols-outlined {
    margin-top: -3px;
    margin-right: 3px;
}

.navbar-link:hover, .navbar-link.active {
    color: #eee;
}

.navbar-link.cyan:hover, .navbar-link.cyan.active {
    background-image: linear-gradient(transparent, rgba(0, 255, 255, 0.15));
    border-bottom-color: #0ff;
}

.navbar-link.magenta:hover, .navbar-link.magenta.active {
    background-image: linear-gradient(transparent, rgba(255, 0, 255, 0.15));
    border-bottom-color: #f0f;
}

.navbar-link.yellow:hover, .navbar-link.yellow.active {
    background-image: linear-gradient(transparent, rgba(255, 255, 0, 0.15));
    border-bottom-color: #ff0;
}

.navbar-link.green:hover, .navbar-link.green.active {
    background-image: linear-gradient(transparent, rgba(0, 255, 0, 0.15));
    border-bottom-color: #0f0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 32px 0;
}

.banner h1 {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

.banner h1.magenta {
    text-decoration-color: #f0f;
    filter: drop-shadow(0 0 8px #f0f);
}

.banner h1.yellow {
    text-decoration-color: #ff0;
    filter: drop-shadow(0 0 8px #ff0);
}

.banner h1.green {
    text-decoration-color: #0f0;
    filter: drop-shadow(0 0 8px #0f0);
}

.main-content {
    background-image: linear-gradient(transparent, #222A33);
    min-height: calc(100vh - 42px - 8px - 156px);
    min-height: calc(100dvh - 42px - 8px - 156px);
    font-size: 17px;
    line-height: 130%;
}

.st-outer {
    display: flex;
    align-items: center;
    margin: 20px 0 16px 0;
}

.st-bar-start {
    background-color: #344;
    width: calc((100% - 1024px) / 2);
    height: 3px;
    margin-right: 12px;
}

.st-label {
    font-size: 32px;
    font-weight: 100;
    text-shadow: #0ff 1px 0 8px;
    color: inherit;
    text-decoration: none;
}

.st-bar-end {
    flex-grow: 1;
    background-image: linear-gradient(90deg, #3A4444, #3A4444 30%, transparent 50%);
    height: 3px;
    margin-left: 12px;
}

.spoiler {
    filter: blur(4px);
    transition: 0.25s;
}

.spoiler:hover {
    filter: blur(0px);
}

.bg-circles {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.bg-circle {
    position: absolute;
    border: 16px dashed hsl(0, 0%, 10%);
    z-index: -100;
    filter: drop-shadow(0 0 64px #0ff);
}

.bg-circle.first {
    border-radius: 250px;
    width: 500px;
    height: 500px;
    top: -250px;
    left: -250px;
    animation: rotate 120s linear infinite;
}

.bg-circle.second {
    border-radius: 400px;
    width: 800px;
    height: 800px;
    top: -400px;
    left: -400px;
    animation: rotate 100s linear infinite;
}

.bg-circle.third {
    border-style: dotted;
    border-radius: 500px;
    width: 1000px;
    height: 1000px;
    top: -500px;
    left: -500px;
    animation: rotate 70s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;
        height: 64px;
        padding-top: 8px;
    }

    .fit-screen {
        height: calc(100vh - 64px - 16px);
        height: calc(100dvh - 64px - 16px);
    }

    .navbar-brand:hover .underline {
        width: 0;
    }

    .navbar-link {
        padding: 0 12px;
    }
}

@media screen and (max-width: 370px) {
    .nav-label {
        display: none;
    }

    .navbar-link.active .nav-label {
        display: block;
    }
}