body {
    background-color: #181a1b;
    color: #ccc
}

.section.hero {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.section.media-list {
    min-height: calc(100vh - 25.5rem);
}

.section.footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input[type=text] {
    color: #ccc;
    background-color: #232627;
    border: 1px solid #497e99;
}

button, input[type=submit], input[type=button] {
    text-transform: none;
    font-weight: normal;
    font-size: 1.5rem;
    background-color: #497e99;
    border: none;
    color: #ccc;
    border: 1px solid #497e99;
    padding: 0 16px;
    transition: 0.25s;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
    border: none;
    color: #ccc;
    background-color: #4e7183;
    border: 1px solid #4e7183;
}

button:focus, input[type=submit]:focus, input[type=button]:focus {
    border: none;
    color: #ccc;
    background-color: #4e7183;
    border: 1px solid #33C3F0;
}

.box {
    background-color: #232627;
    border: 1px solid #414647;
    padding: 1rem;
}

.hidden {
    display: none;
}

.box.error {
    background-color: #332020;
    border: 1px solid #632222;
}

#statusBox {
    margin-bottom: 1rem;
}

#statusBoxContent {
    margin-left: 0.25rem;
}

.media-box {
    margin-bottom: 1rem;
}

.media-box .columns {
    text-align: center;
}

.media-box .columns.media-ext {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #999;
}

.download-btn button {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    width: 18vw;
    min-width: 150px;
    white-space: normal;
}

h2.title {
    display: inline;
    padding-right: 0.25rem;
}

.url-form {
    margin-top: 1rem;
}

.fa-solid {
    padding-right: 0.25rem;
}

.media-info {
    margin-bottom: 1rem;
    text-align: center;
}

@media (min-width: 550px) {
    .section.media-list {
        min-height: calc(100vh - 21.5rem);
    }
    .media-box .columns {
        text-align: left;
    }
    .media-box .columns.media-ext {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

#mediaThumbnail {
    -o-object-fit: contain;
    object-fit: contain;
    width: auto;
    height: 10rem;
    margin-bottom: 1rem;
}